body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url("501c82db-88cb-43df-bc4d-0ac9044fb640.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: gradientBG 15s ease infinite;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  z-index: -1; /* Keeps it behind all content */
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #4caf50;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  color: #929292;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 10px;
}

.section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ffffffc0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(8px); /* Blur effect for the container */
}

.section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.section.active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.section p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #666;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #4caf50;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background: #388e3c;
  transform: scale(1.05);
}

.button:active {
  background: #2e7d32;
}
/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
